/* Global css */
:root{
    --primary-color:#4f5b6b;
    --secondary-color:white;
}
*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}
.class{
    color: black;
}
/* Header section */

header{
    background-color: var(--primary-color);
    color:var(--secondary-color);
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    top: 0;
    left: 0;
    position: sticky;
}
header .class{
    color: white;
}
 header div .heading{
    padding: 20px;
    font-size: 40px;

}
.main-menu{
    float: right;
     }

.main-menu ul li{
display: inline-block;
margin-left: 30px;

}
.main-menu ul li a{
    color:var(--secondary-color);
}

.main-menu ul li a:hover{
    color:gray;
    text-decoration: underline;
}

/* first section */
.first-section{
    text-align: center;
}
.global-btn{
    height: 40px;
    width: 100px;
    text-align: center;
    border-radius: 30%;
}

.global-btn a{
    color: var(--primary-color);
}

.global-btn a:hover{
    height: 40px;
    background-color: black;
    color:var(--secondary-color);
    padding: 8px;
    border-radius: 30%;
}
.first-section{
    background-image: url(web-work/web-image3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
   background-position: center;
    background-size:cover ;
    padding: 10rem 0;
    text-align: center;
    justify-content: center;

}
.first-section h2{
    font-size:5rem;
    text-align: center;


}
.first-section p{
    font-size: 3rem;
    text-align: center;

}
.global-section{
    padding: 4rem 0;

    }
    .global-heading{
    font-size: 45px;
    text-align: center;
    }
    .global-head-p{
    text-align: center;
    color: darkgrey;
    }
    .global-section .about-main-div .about-sub-div2 .global-btn{
        text-align: center;
        justify-content: center;
        text-align: center;
    }
    /* About us section */
    .about-section{
        text-align: center;
        margin-top: 20px;
    }
    .about-section .about-main-div{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;

    }
    .about-section p{
        text-align: center;
        margin: 10px 150px;
    }
    .about-section .profile-image{
        border-radius: 50%;
        filter: saturate(1);
    }
    
    .about-section .profile-image:hover{
        filter: saturate(0);
    }
    .about-sub-div2{
        width: 400px;
    }
    .about-sub-div2 h2{
        font-size: 3rem;
    }
    .about-sub-div2 p{
        color: darkgrey;
        margin: 20px 0;
    }
 
    /* service section */
    .grid-container{
        display: grid;
        grid-template-columns: auto auto auto;


    }
    .container{
        
        display: grid;
        grid-template-columns: auto auto;
    }
.grid-single-item{
    padding: 3rem;
    text-align: center;

}
.single-item{
     padding: 3rem;
    text-align: center;
}
.grid-single-item .fa-icon-size, .single-item .fa-icon-size{
    font-size: 4rem;
}
 .single-item .r{
    color:darkgray ;
    margin-left: 200px;
}
 .single-item .m{
    color: darkgray;
}
/* Work section */
.grid-single-item .grid-single-image, .single-item .grid-single-image{
    width: 200px;
}
/* Testimonial section */
.work{
    display: flex;
    flex-direction: column;
    flex: 1;
}
/* Footer Section */
footer{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    height: 100px;
}
footer p{
    padding-top: 40px;
}
footer .class{
    color: white;
}